* {
    margin: 0;
    padding: 0;
}


.fondo {
    background-image: url("/Imagenes/asdasd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.fondo2 {
    background-image: url("/Imagenes/quienessomos.jpg")
}
.fondo3 {
    background-color: rgb(102, 102, 102);
}
.eventos {
    text-align: center;
}
.menu1__lista {
    margin: auto;
    width: fit-content;
}

.menu1__lista li {
    display: inline-block;
    padding: 20px;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
}
.menu1__lista li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.titulo {
    color: aliceblue;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
}
.alinear {
    text-align: center;
}
.alinear h1 {
    margin-top: 1em;
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
}
.alinear section p {
    margin-top: 7em;
    padding: 0 30em 0 30em;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
}
.grid__container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer {
    padding: 1em 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.footer1 li {
    list-style: none;
}
.footer1 li img {    
    width: 2em;
    padding-left: 5em;
}
.flex-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(245, 120, 120);
    margin: 50px 30px;
}
.form {
    min-width: 200px;
    flex: 1;
    text-align: center;
    padding: 30px;
}
.form textarea {
    min-height: 140px;
}
.form__input {
    width: 50%;
    padding: 7px;
    margin: 6px 0;
}
